/Completed/EJBRemoteInterface/build/
/Completed/EJBRemoteInterface/dist/
/Completed/EJBRemoteInterface/nbproject/private/
/Completed/EntAppClient/build/
/Completed/EntAppClient/dist/
/Completed/EntAppClient/nbproject/private/
/Completed/EntAppEJB/EntAppEJB-ejb/build/
/Completed/EntAppEJB/EntAppEJB-ejb/dist/
/Completed/EntAppEJB/EntAppEJB-ejb/nbproject/private/
/Completed/EntAppEJB/build/
/Completed/EntAppEJB/dist/
/Completed/EntAppEJB/nbproject/private/
/Completed/WebAppClient/build/
/Completed/WebAppClient/nbproject/private/
